* {
    box-sizing: border-box;
}

@font-face {
    font-family: Unica;
    src: url('../assets/Unica77-Regular.otf');
}

body {
    font-family: Unica;
    background-color: black;
}

.container {
    width: 100%;
    font-family: Unica;
}
.cover {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;
}

.cover-image {
    padding: 10px;
    width: 100%;
}

.cover-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
}

.cover-title {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 40px;
    text-align: center;
}

.title-city {
    font-size: 190px;
}

.country-code {
    display: inline;
}


.title-next {
    background-color: white;
    padding: 15px 15px 10px 20px;
    color: black;
    border-radius: 70px;
}

/* .weather {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;
    padding: 10px;
} */

/* .weather-now {
    flex-direction: column;
    width: 40%;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
} */

.places {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;
    background-color: black;
}

.list {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
    font-size: 50px;
    justify-content: space-between;
    padding: 40px;
}

.map {
    display: flex;
    height: 100vh;
    width: 50%;
    min-height: 100vh;
}

.a {
    text-decoration: none;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 40px;
    text-align: center;
}

.button-item {
    background-color: black;
    padding: 40px 40px 0px 40px;
    border-radius: 20px;
    font-size: 40px;
    margin: 20px;
    text-align: center;
    flex: 1;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: white;
}

.show-image {
    width: 60%;
}

.hidden-image {
    display: none;
}

.show-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
}

.show-button {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

.button-text {
    background-color: white;
    padding: 15px 15px 10px 20px;
    color: black;
    border-radius: 70px;
    cursor: pointer ;
    font-size: 40px;
}

.video {
    padding: 20px;
}

.video video {
    width: 100%;

}